

@media (min-width: 1024px) and (max-width: 1280px) {

    .container {
        background-color: white;
        max-width: 1028px;
        border-radius: 20px;
        margin: auto;
        overflow: hidden;
    }
    .sub-header {
        max-width: 1028px;
        padding: 0rem 4rem;
        gap: 2rem;
    }

    header {
        padding-right: 6rem;
    }

    .header-sub-logo {
        display: flex;
        align-items: center;
        gap: 2rem;
        background-color: rgb(190, 22, 123);
        /* background-color: aqua; */
    }
    
    .sub-logo {
        margin-left: 6rem;
    }
    
    .complemento-sub-logo {
        position: relative;
        left: 5.2rem;
    }

    nav ul {
        gap: 3rem;
    }

    main section {
        padding: 3rem 6rem;
    }
    
    #topo {
        padding: 0 6rem 0;
        gap: 2rem
    }

    .img-box-topo-1 {
        max-width: 31.5rem;
    }

    .titulo-topo-1{
        display: none;
    }

    .box-topo-2 {
        gap: 1rem;
    }

    .titulo-topo-2 h4 {
        font-size: 7.69rem;
    }

    .titulo-topo-2 h5 {
        font-size: 2.58rem;
    }

    .imgs-topo div{
        width: 47.9%;
    }

    .imgs-topo div img{
        max-width: 100%;
    }

    .imgs-topo div p{
        height: 10rem;
        padding: 1.5rem;
        margin-top: -10.15rem;
        position: relative;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.7);
        font-family: 'montserrat', sans-serif;
        font-weight: 400;
        font-size: 1.7rem;
        color: white;
        line-height: 1.8rem;
    }

    .titulo {
        margin-bottom: 2.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .titulo span{
        width: 63.3%;
        height: 3.061rem;
        background-image: url('../img/divisoria-pink.png');
        background-repeat: repeat-x;
    }

    .box-servicos a{
        width: 23.5%;
    }

    .box-servicos a img{
        width: 100%;
    }

    .box-servicos a span img{
        width: 32%;
        margin-right: 4.3%;
    }

    .box-parceiros img{
        flex-wrap: wrap;
        width: 18%;
    }

    .sub-footer {
        padding: 1.5rem 6rem;
        justify-content: end;
        gap: 2rem;
    }

    .preenchimento{
        display: none;
    }

    .main-footer {
        padding: 3.5rem 6rem;
        gap: none;
    }

    .funcionamento-v1 {
        display: block;
        margin-top: 2.5rem;
    }

    .funcionamento-v2{
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {

    .container {
        background-color: white;
        max-width: 76.8rem;
        border-radius: 2rem;
        margin: auto;
        overflow: hidden;
    }
    .sub-header {
        max-width: 76.8rem;
        padding: 0rem 4rem;
        gap: 2rem;
    }

    header {
        padding-right: 4rem;
    }

    .header-sub-logo {
        display: flex;
        align-items: center;
        gap: 2rem;
        background-color: rgb(190, 22, 123);
        /* background-color: aqua; */
    }
    
    .sub-logo {
        margin-left: 6rem;
    }
    
    .complemento-sub-logo {
        position: relative;
        left: 5.2rem;
    }

    nav ul {
        gap: 3rem;
    }

    main section {
        padding: 3rem 6rem;
    }

    #topo {
        padding: 3rem 6rem 0;
        display: flex;
        justify-content: space-between;
        align-items: start;
    }

    .box-topo-1 {
        width: 54.68%;
        display: flex;
        flex-direction: column-reverse;
        gap: .5rem;
        /* background-color: aqua; */
    }

    .titulo-topo-1 {
        display: block;
    }

    .titulo-topo-1 h4 {
        font-family: 'montserrat', sans-serif;
        font-size: 4.7rem;
        font-weight: 900;
        color: rgba(190, 22, 123, 1);
    }

    .titulo-topo-1 h5 {
        font-family: 'montserrat', sans-serif;
        font-size: 1.6rem;
        font-weight: 900;
        color: rgba(28, 36, 46, 1);
    }

    .box-topo-2 {
        margin-top: 0rem;
    }

    .titulo-topo-2{
        display: none;
    }

    .imgs-topo{
        flex-direction: column;
        gap: 1.5rem;
    }

    .imgs-topo div{
        width: 100%;
    }

    .imgs-topo div img{
        max-width: 100%;
    }

    .imgs-topo div p{
        height: 10rem;
        padding: 1.5rem;
        font-size: 1.7rem;
    }

    .titulo span{
        width: 46.3%;
    }

    .box-servicos a{
        width: 31.5%;
    }

    .box-servicos a img{
        width: 100%;
    }

    .box-servicos a span img{
        width: 30%;
        margin-right: 4.5%;
    }

    .box-servicos a:nth-child(7), .box-servicos a:nth-child(8) {
        display: none;
    }

    .box-parceiros {
        gap: 1rem;
    }

    .box-parceiros img{
        width: 18.6%;
    }

    #sobre h2{
        margin-left: 2rem;
    }

    .avaliacao {
        height: 12rem;
        margin: 3rem 0;
    }

    .nome{
        font-size: 2rem;
    }

    .sub-footer {
        padding: 1.5rem 6rem;
        justify-content: center;
        gap: 2rem;
    }

    .preenchimento{
        display: none;
    }

    .main-footer {
        padding: 3.5rem 6rem;
        gap: none;
    }

    .main-footer img:first-of-type {
        display: none;
    }

    .funcionamento-v1 {
        display: block;
        margin-top: 2.5rem;
    }

    .funcionamento-v2{
        display: none;
    }
}

@media (min-width: 594px) and (max-width: 767px) {

    .container {
        background-color: white;
        max-width: 59.4rem;
        border-radius: 2rem;
        margin: auto;
        overflow: hidden;
    }

    .sub-header {
        max-width: 59.4rem;
        padding: 0rem 4rem;
        gap: 2rem;
    }

    header {
        padding-right: 4rem;
    }

    .header-sub-logo {
        width: 11rem;
        display: flex;
        align-items: center;
        gap: 0rem;
        background-color: rgb(190, 22, 123);
        /* background-color: aqua; */
    }
    
    .sub-logo {
        margin-left: 3.5rem;
    }
    
    .complemento-sub-logo {
        position: relative;
        left: 1.5rem;
    }

    .logo {
        display: none;
    }

    nav ul {
        gap: 3rem;
    }

    main section {
        padding: 4rem;
    }

    #topo {
        padding: 3rem 4rem 0;
    }

    .box-topo-1 {
        display: none;
    }

    .box-topo-2 {
        margin-top: 0rem;
    }

    .titulo-topo-2 h4{
        font-size: 7.09rem;
    }

    .titulo-topo-2 h5{
        font-size: 2.38rem;
    }

    .imgs-topo{
        flex-direction: row;
        gap: 1.5rem;
    }

    .imgs-topo div{
        width: 48.6%;
    }

    .imgs-topo div img{
        height: 100%;
    }

    .imgs-topo div p{
        height: 10rem;
        padding: 1.5rem;
        font-size: 1.6rem;
    }

    .titulo {
        margin-bottom: 2.5rem;
    }

    .titulo span{
        width: 34%;
    }

    .box-servicos a{
        width: 48.3%;
    }

    .box-servicos a img{
        width: 100%;
    }

    .box-servicos a span img{
        width: 32%;
        margin-right: 3%;
    }

    .box-servicos a:nth-child(7), .box-servicos a:nth-child(8) {
        display: none;
    }

    .box-parceiros {
        flex-wrap: wrap;
        justify-content: center;
        gap: 2rem;
    }

    .box-parceiros img{
        width: 30.6%;
    }

    #sobre h2{
        margin-left: 2rem;
    }

    .avaliacao {
        height: 22rem;
        margin: 3rem 0;
    }

    .nome{
        font-size: 1.7rem;
    }

    .sub-footer {
        padding: 1.5rem 2rem;
        justify-content: center;
        gap: 1.5rem;
    }

    .preenchimento{
        display: none;
    }

    .sub-footer p {
        font-family: 'montserrat', sans-serif;
        font-weight: 400;
        font-size: 1.6rem;
    }

    .sub-footer div a img {
        width: 3rem;
    }

    .main-footer {
        padding: 3.5rem 2rem;
        gap: 4rem 3rem;
        justify-content: center;
        flex-wrap: wrap;
    }

    .main-footer div h3 {
        font-size: 1.8rem;
    }

    .main-footer img:last-child {
        margin-top: -2.5rem;
    }

    .funcionamento-v1 {
        display: none;
        margin-top: 2.5rem;
    }

}

@media (min-width: 467px) and (max-width: 593px) {

    html {
        padding: 2rem 0rem 0rem;
    }

    .container {
        background-color: white;
        max-width:59.4;
        border-radius: 0rem;
    }

    .sub-header {
        max-width: 76.8rem;
        padding: 0rem 4rem;
        gap: 2rem;
        margin-bottom: 1.5rem;
    }

    .sub-header p{
       display: none;
    }

    .sub-header a {
        padding: 1.2rem 1.2rem;
        border-radius: 3rem;
    }

    header {
        padding-right: 4rem;
    }

    .header-sub-logo {
        width: 11rem;
        display: flex;
        align-items: center;
        gap: 0rem;
        background-color: rgb(190, 22, 123);
        /* background-color: aqua; */
    }
    
    .sub-logo {
        margin-left: 3.5rem;
    }
    
    .complemento-sub-logo {
        position: relative;
        left: 1.5rem;
    }

    nav ul {
        gap: 2rem;
    }

    .logo {
        display: none;
    }

    main section {
        padding: 4rem;
    }

    #topo {
        padding: 3rem 4rem 0;
    }

    .box-topo-1 {
        display: none;
    }

    .box-topo-2 {
        margin-top: 0rem;
    }

    .titulo-topo-2 h4 {
        white-space: nowrap;
        font-size: 11.4vw;
    }

    .titulo-topo-2 h5 {
        white-space: nowrap;
        font-size: 3.8vw;
    }

    .imgs-topo {
        flex-direction: column;
        gap: 1.5rem;
    }

    .imgs-topo div {
        width: 100%;
        border-radius: 15px;
    }

    .imgs-topo div p {
        padding: 1.5rem;
        line-height: 2.1rem;
    }

    .titulo span {
        display: none;
    }

    .box-servicos a{
        width: 48.3%;
    }

    .box-servicos a img{
        width: 100%;
    }

    .box-servicos div p{
        font-size: 3vw;
    }

    .box-servicos a span img{
        width: 32%;
        margin-right: 3%;
    }
    .box-servicos a:nth-child(7), .box-servicos a:nth-child(8) {
        display: none;
    }

    .box-parceiros {
        flex-wrap: wrap;
        justify-content: center;
        gap: 3%;
        row-gap: 1.5rem;
    }

    .box-parceiros img {
       width: 31.3%;
    }

    #sobre h2 {
        margin-left: 2rem;
    }

    .avaliacao {
        height: auto;
        margin: 3rem 0;
    }

    .sub-footer {
        justify-content: center;
        gap: 2rem;
    }

    .preenchimento {
        display: none;
    }

    .sub-footer {
        gap: 4rem;
    }

    .sub-footer p {
        display: none;
    }

    .sub-footer div a img {
        width: 3.5rem;
    }

    .main-footer {
        padding: 3.5rem 3rem;
        gap: 4rem 4rem;
        justify-content: center;
        flex-wrap: wrap;
    }

    .main-footer div h3 {
        font-size: 1.8rem;
    }

    .main-footer img:last-child {
        margin-top: -2.5rem;
    }

    .funcionamento-v1 {
        display: none;
        margin-top: 2.5rem;
    }
}

@media (min-width: 0px) and (max-width: 466px) {

    html {
        padding: 2rem 0rem 0rem;
    }

    .container {
        background-color: white;
        max-width:59.4;
        border-radius: 0rem;
        margin: auto;
        overflow: hidden;
    }

    .sub-header {
        max-width: 76.8rem;
        padding: 0rem 4rem;
        gap: 2rem;
        margin-bottom: 1.5rem;
    }

    .sub-header p{
       display: none;
    }

    .sub-header a {
        padding: 1.2rem 1.2rem;
        border-radius: 3rem;
    }

    .header-sub-logo {
        width: 11rem;
        display: flex;
        align-items: center;
        gap: 0rem;
        background-color: rgb(190, 22, 123);
        /* background-color: aqua; */
    }
    
    .sub-logo {
        margin-left: 3.5rem;
    }
    
    .complemento-sub-logo {
        position: relative;
        left: 1.5rem;
    }

    .logo {
        display: none;
    }

    main section {
        padding: 3rem;
    }

    #topo {
        padding: 3rem 3rem 0;
        justify-content: center;
    }

    .box-topo-1 {
        display: none;
    }

    .box-topo-2 {
        margin-top: 0rem;
    }

    .titulo-topo-2 h4 {
        white-space: nowrap;
        font-size: 11.5vw;
        text-align: center;
    }

    .titulo-topo-2 h5 {
        font-size: 6vw;
        line-height: 2.5rem;
        text-align: center;
    }

    .imgs-topo {
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
    }

    .imgs-topo div {
        width: 100%;
    }

    .imgs-topo div img {
        width: 100%;
    }

    .imgs-topo div p {
        padding: 1.5rem;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.7);
        font-family: 'montserrat', sans-serif;
        font-weight: 400;
        font-size: 1.8rem;
        color: white;
        line-height: 2.1rem;
    }

    .imgs-topo div img {
        height: auto;
    }

    .titulo {
        margin-bottom: 2.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .titulo h2 {
        text-align: center;
    }

    .titulo span {
        display: none;
        width: 34.3%;
        height: 3.061rem;
        background-image: url('../img/divisoria-pink.png');
        background-repeat: repeat-x;
    }

    .titulo {
        justify-content: center;
    }

    .box-servicos {
        justify-content: center;
        row-gap: 1.5rem;
    }

    .box-servicos a{
        width: 100%;
    }
    
    .box-servicos a > img {
        width: 100%;
    }

    .box-servicos a div {
        position: relative;
        padding-left: 2rem;
        /* background-color: royalblue; */
    }
    
    .box-servicos span {
        width: 93%;
        position: absolute;
        bottom: 1.45rem;
        display: flex;
        align-items: center;
        gap: 11%;
        /* background-color: aqua; */
    }
    
    .box-servicos div p {
        width: 58%;
        font-size: 2rem;
        line-height: 2.2rem;
    }
    
    .box-servicos div img {
        width: 28.5%;
    }

    .box-servicos a:nth-child(5), .box-servicos a:nth-child(6), .box-servicos a:nth-child(7), .box-servicos a:nth-child(8) {
        display: none;
    }

    .sub-footer {
        justify-content: center;
        gap: 2rem;
    }

    #sobre h2{
        margin-left: 2rem;
    }

    .preenchimento{
        display: none;
    }

    .sub-footer{
        gap: 4rem;
    }

    .sub-footer p {
        display: none;
    }

    .sub-footer div a img {
        width: 3.5rem;
    }

    .main-footer {
        padding: 3.5rem 4rem;
        gap: 4rem 4rem;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
    }

    .main-footer div h3 {
        font-size: 1.8rem;
    }

    .main-footer div nav ul {
        align-items: center;
    }

    .main-footer img:last-child {
        margin-top: -2.5rem;
    }

    .funcionamento-v1 {
        display: none;
        margin-top: 2.5rem;
    }

}

@media (min-width: 0px) and (max-width: 550px) {

    /*menu hamburguer*/

    header{
        padding-right: 2rem;
    }

    .nav-header {
        align-items: center;
        padding: 2rem;
    }

    .logo {
        width: 8rem;
    }

    .header-menu{
        gap: 0rem;
        flex-direction: column;
        max-height: 0rem;
        position: absolute;
        left: 0rem;
        right: 0rem;
        top: 15.4rem;
        z-index: 2;
        overflow: hidden;
        background-color: rgb(190, 22, 123);
        transition: all 0.5s ease-in-out;
        box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.6);
    }

    .header-menu li{
        width: 100%;
        padding: 1rem;
        border-top: 1px solid white;
        width: 70%;
        margin: 0 auto;
    }

    .header-menu li a{
        display: block;
        width: 100%;
        padding: 2rem 0rem;
        text-align: center;
    }

    .menu-icon{
        display: block;
        position: relative;
        cursor: pointer;
        width: 2.4rem;
        height: 2rem;
        /* top: 5px; */
    }

    .nav-icon  {
        background-color: white;
        display: block;
        top: 8px;
        width: 2.4rem;
        height: .2rem;
        position: absolute;
    }

    .nav-icon::after, .nav-icon::before {
        content: "";
        background-color: white;
        display: block;
        height: .2rem;
        width: 2.4rem;
        position: absolute;
        transition: transform 0.2s ease-in-out;
    }

    .nav-icon::after {
        transform: translateY(.8rem);

    }

    .nav-icon::before {
        transform: translateY(-.8rem);

    }

    .menu-hamburguer:checked ~ .header-menu {
        max-height:100vh;
        transition: all 0.5s ease-in-out;
    }

    .header-menu:focus-within {
        max-height:100vh;
        transition: all 0.5s ease-in-out;
    }

    .menu-hamburguer:checked+.menu-icon .nav-icon {
        background-color: transparent;
    }

    .menu-hamburguer:checked+.menu-icon .nav-icon::before {
        transform: rotate(-45deg);
    }

    .menu-hamburguer:checked+.menu-icon .nav-icon::after {
        transform: rotate(45deg);
    }

    .hide {
        position: absolute;
        clip: rect(1px, 1px, 1px, 1px);
        padding: 0;
        border: 0;
        height: 0;
        width: 0;
        overflow: hidden;
    }
}


@media (min-width: 551px) {
    .menu-hamburguer, .menu-icon {
        display: none;
    }
}