
.sub-header {
    max-width: 1280px;
    padding: 0rem 8rem;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    gap: 3rem;
    margin-bottom: 3rem;
}
.sub-header a {
    padding: 0.6rem 1.6rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: white;
    border-radius: 1.5rem;
    border: .1rem solid rgba(28, 36, 46, 1);
    cursor: pointer;
    background-color: rgba(190, 22, 123, 1);
}

.sub-header a:hover {
    color: rgba(28, 36, 46, 1);
    transition: color 0.3s ease, transform 0.2s ease;
}

.sub-header a p {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
}

.sub-header a img {
    width: 1.9rem;
}

header {
    padding: 6rem 8rem 4rem;
    background-image: url('../img/header-bg.png');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: white;
    
}

.hero {
    /* background-color: aquamarine; */
    width: 45rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 4.8rem;
    font-weight: 700;
    line-height: 5.7rem;
    text-align: center;
}

.hero > p {
    font-size: 1.8rem;
    font-weight: 400;
    text-align: center;    
}

.hero > h1, .hero > p, nav ul a {
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.65);
}

.botao-hero {
    display: flex;
    justify-content: space-evenly;
}

.botao-hero > :first-child{
    background-color: rgba(0, 206, 31, 1);
}

.botao-hero > :last-child{
    background-color: rgba(190, 22, 123, 1);
}

.botao-hero a {
    padding: 1rem 1.6rem;
    color: white;
    border-radius: 2rem;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn-contato {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.btn-contato p {
    font-family: 'montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.8rem;
}

.btn-contato img {
    width: 2.3rem;
}

nav {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.logo {
    width: 12rem;
    text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.65);
}

nav ul {
    /* background-color: rgba(190, 22, 123, 1); */
    display: flex;
    align-items: center;
    gap: 5rem;
    font-size: 2rem;
}

nav ul a {
    color: rgb(255, 255, 255);
    padding: 1rem 0;
    transition: color 0.3s ease, transform 0.2s ease;
}

nav ul a:hover {
    color: rgba(190, 22, 123, 1);
    transform: scale(1.1);
}

nav ul a:active {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.65);
    color: rgb(89, 0, 206);
    transform: scale(0.95);
}

main section {
    padding: 2.9rem 8rem;
}

main section h2 {
    margin-bottom: 1.9rem;
    font-size: 2rem;
    font-weight: 700;
    color: rgba(190, 22, 123, 1);
}

.box-servicos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 1.5rem;
}

.box-servicos a > img {
    display: block;
}

.box-servicos div {
    position: relative;
    padding-left: 2rem;
}

.box-servicos span {
    position: absolute;
    bottom: .9rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    /* background-color: aqua; */
}

.box-servicos div p {
    width: 14.3rem;
    font-family: 'montserrat', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.7rem;
    color: white;
}

#parceiros {
    background-color: rgba(28, 36, 46, 1);
}

#parceiros h2 {
    color: white;
}

.box-parceiros {
    display: flex;
    justify-content: space-between;
}

.box-parceiros img {
    border-radius: 1.6rem;
    /* border: .2rem solid rgb(129, 129, 129); */
}

.box-servicos figcaption {
    display: flex;
    justify-content: space-between;
}

#sobre {
    background-color: rgba(235, 235, 235, 1);
}

#sobre h2{
    margin-left: 5rem;
}

.box-testemunhos {
    display: flex;
    justify-content: space-between;
    padding-bottom: 4rem;
}

.box-testemunhos article {
    width: 26.8rem;
    padding: 3rem 2rem ;
    border-radius: 1.4rem;
    text-align: center;
    color: rgb(31, 31, 31);
    background-color: rgba(255, 255, 255, 1);
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); */
}

.avaliacao {
    font-family: 'Hind Madurai', sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    height: 24rem;
    display: flex;
    align-items: center;
}

.nome {
    font-family: 'montserrat', sans-serif;
    font-weight: 700;
    font-size: 2rem;
}

.box-testemunhos article img:nth-child(4) {
    max-width: 100%;
    margin: 2rem 0;
}

.box-testemunhos article img:last-of-type {
    margin-bottom: -7.5rem;
    border-radius: 6rem;
    outline: 3px solid rgba(190, 22, 123, 1);
    outline-offset: -3px;
}

/* Estilização do carrossel */
.swiper, #sobre {
    padding: 4rem 3rem 6rem;
}

.card-wrapper {
    margin: 0px 10px;
    padding: 10px 10px;
    overflow: hidden;
}

.swiper-pagination {
    margin-bottom: 3rem;
}

.swiper-pagination > .swiper-pagination-bullet {
    width: 1.2rem;
    height: 1.2rem;
}

footer {
    background-color: rgba(26, 29, 35, 1);
    color: white;
}

.sub-footer {
    padding: 1.5rem 8rem;
    display: flex;
    justify-content: space-between;
    background-color: rgba(28, 36, 46, 1);
}

.sub-footer div a{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    color: white;
    /* background-color: blueviolet; */
}

.sub-footer div a:hover {
    color: rgba(190, 22, 123, 1);
    transition: color 0.3s ease, transform 0.2s ease;
}

.sub-footer p {
    font-family: 'montserrat', sans-serif;
    font-weight: 600;
    font-size: 2.2rem;
}

.main-footer {
    padding: 3.5rem 8rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.main-footer div {
    max-width: 21rem;
    /* min-width: 16.9rem; */
}

.main-footer div h3 {
    margin-bottom: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2.2rem;
    color: rgba(190, 22, 123, 1);
}

.main-footer div p {
    font-family: 'montserrat', sans-serif;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 110%;
}

.main-footer div ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    font-family: 'montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 110%;
}

.funcionamento-v1 {
    display: none;
}